<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Lista de estudiantes</title>
</head>
<body>
  <h1>Notas de estudiantes</h1>
  <table border="1" cellpadding="8">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Nota</th>
      </tr>
    </thead>
    <tbody>
      {{#each students}}
        <tr>
          <td>{{this.name}}</td>
          <td>
            {{#if (gt this.grade 15)}}
              <strong style="color:green">{{this.grade}}</strong>
            {{else}}
              {{this.grade}}
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>
